*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    border: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

.nav{
    color: #fff;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px;
}

.nav-items{
    color: #fff;
    padding: 12px 16px;
    height: 100%;
    font-size: 30px;
}

.nav-items:hover{
    background-color: rgb(226, 221, 215);
    color: #000;
}